To get started you'd have to create a twitter developer account which can be easily created from the link below:

https://developer.twitter.com/en/apply-for-access

# **Importing the necessary libraries**

In [8]:
import tweepy
import pandas as pd
import time

# **Initiallizing the API Call parameters**

In [23]:
consumer_key = "Your API Key"
consumer_secret = "Your API Secret"
access_token = "Your access Token"
access_token_secret = "Your Access Token Secret"

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

To get an idea about the various parameters that can be pulled via the API refer to :

https://developer.twitter.com/en/docs/twitter-api/v1/data-dictionary/object-model/tweet

# **Initializing the Dataset that would contain the data**

In [61]:
df=pd.DataFrame(columns=['username', 'description', 'location', 'following', 
                               'followers', 'totaltweets', 'retweetcount', 'text', 'hashtags'])

# **Defining the function that will create the tweets dataset**

In [69]:

def tweets_dataset_creator(text_query,lang,count):
  try:
    # Creation of query method using parameters
    tweets = tweepy.Cursor(api.search,q=text_query).items(count)
    # Counter to maintain Tweet Count 
    i = 1
    
    # we will iterate over each tweet in the list for extracting information about each tweet
    for tweet in tweets:
      username = tweet.user.screen_name
      description = tweet.user.description
      location = tweet.user.location
      following = tweet.user.friends_count
      followers = tweet.user.followers_count
      totaltweets = tweet.user.statuses_count
      retweetcount = tweet.retweet_count
      hashtags = tweet.entities['hashtags']
      # text=tweet.text

      # Retweets can be distinguished by a retweeted_status attribute, 
      # in case it is an invalid reference, except block will be executed 
      try:
        text = tweet.retweeted_status.text 
      except AttributeError: 
        text = tweet.text
      
      hashtext = list() 
      for j in range(0, len(hashtags)): 
          hashtext.append(hashtags[j]['text']) 
    
      # Here we are appending all the extracted information in the DataFrame 
      ith_tweet = [username, description, location, following, 
                    followers, totaltweets, retweetcount, text, hashtext] 
      df.loc[len(df)] = ith_tweet
    
      # Function call to print tweet data on screen 
      # printtweetdata(i, ith_tweet) 
      i = i+1
 
  except BaseException as e:
    print('failed on_status,',str(e))
    time.sleep(3)

# **Calling the function created with a list of movie names we need for our dataset**

In [72]:
movie_list=list()
movie_list=['tenet','ironman','dunkirk','avengers'] #currently this function is based on search text and you can modify the same to 
                                                    #create a dataset for user tweets and whatever your need is.
print("Enter the number of rows(<1500) per search text :")
number_of_rows_per_query_text=int(input())

for movie in movie_list:
  tweets_dataset_creator(movie,'en',number_of_rows_per_query_text)
  try:
    if number_of_rows_per_query_text* len(movie_list)<2500:
      pass;
    else:
      time.sleep(900)# this timer ensures that there is a lag between subsequent calls and you're not locked out due to 
                #excessive API calls. It will be a tedious task but definitely would give you the desired results
  except:
    print("check your inputs")

Enter the number of rows(<1500) per search text :
30
30
4
30
4
30
4
30
4

          username  ... hashtags
0  bluewingsknight  ...       []
1       adityadshr  ...  [TENET]
2       luigimmelo  ...       []
3         HarshMCU  ...  [TENET]
4      1984_coming  ...       []

[5 rows x 9 columns]

In [71]:
df.head()

          username  ... hashtags
0  bluewingsknight  ...       []
1       adityadshr  ...  [TENET]
2       luigimmelo  ...       []
3         HarshMCU  ...  [TENET]
4      1984_coming  ...       []

[5 rows x 9 columns]